<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>My <span>EJS</span> project</h1>
    <div class="para">
    <p>This mini project demonstrates the use of EJS (Embedded JavaScript) as a templating engine in a Node.js and Express.js environment. 
        EJS allows dynamic content rendering by embedding JavaScript code directly within HTML templates, making it easier to create reusable layouts and maintain consistent structure across web pages. 
        Through this project, the focus is on understanding how server-side rendering works and how data can be passed from the backend to the frontend efficiently.</p>
    </div>
     <div class="allbtns">
    <button class="btns" id="clickbtn1">Home</button>
    <button class="btns" id="clickbtn2">Instagram cat posts</button>
    <button class="btns" id="clickbtn3">Instagram Dog posts</button>
    </div>
    
    

<script src="/btn.js"></script>
    

</body>
</html>