<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>My <span>EJS</span> project</h1>
    <div class="para">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Molestias perferendis minus repudiandae sed repellat ipsam animi.
     Voluptate facere perspiciatis nesciunt harum voluptatem. Commodi maxime reprehenderit dignissimos aliquid iusto enim ea. 
     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro et placeat nisi amet? 
     Iure quia maiores magni quos nihil accusamus. Cum laborum error dignissimos beatae corrupti exercitationem saepe sunt quibusdam.</p>
    </div>
     <div class="allbtns">
    <button class="btns" id="clickbtn1">Home</button>
    <button class="btns" id="clickbtn2">Instagram cat posts</button>
    <button class="btns" id="clickbtn3">Instagram Dog posts</button>
    </div>
    
    

<script src="/btn.js"></script>
    

</body>
</html>